@page "/"

<PageTitle>Home</PageTitle>

<h3>En cartelera</h3>
<ListadoPeliculas Peliculas="enCartelera"/>

<h3>Futuros estrenos</h3>
<ListadoPeliculas Peliculas="futurosEstrenos"/>

@code{
    private List<Pelicula> enCartelera = new List<Pelicula>
    {
        new Pelicula
        {
            Id = 1,
            Titulo = "Interestelar",
            FechaLanzamiento = new DateTime(2010,2,14)
        },
        new Pelicula
        {
            Id = 2,
            Titulo = "Interestelar 2",
            FechaLanzamiento = new DateTime(2020,2,14)
        }
    };

    private List<Pelicula> futurosEstrenos = new List<Pelicula>
    {
        new Pelicula
        {
            Id = 3,
            Titulo = "Interestelar 3",
            FechaLanzamiento = new DateTime(2010,2,14)
        },
        new Pelicula
        {
            Id = 4,
            Titulo = "Interestelar 4",
            FechaLanzamiento = new DateTime(2020,2,14)
        }
    };
}