@page "/"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<BMBoton id="mi-boton" name="mi-boton" class="p-2" onClick="manejarClick"/>
<BMBoton Texto="Boton secundario" onClick="@(() => manejarClick("Click secundario"))"/>

<hr />

<input type="checkbox" @bind="mostrarPeliculas"/>
Mostrar peliculas

@if (mostrarPeliculas)
{
    <h3>En cartelera</h3>
    <ListadoPeliculas Peliculas="enCartelera" />

    <h3>Futuros estrenos</h3>
    <ListadoPeliculas Peliculas="futurosEstrenos" />
}



@code{

    private bool mostrarPeliculas = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await Task.Delay(TimeSpan.FromSeconds(2));

        enCartelera = new List<Pelicula>
            {
            new Pelicula
            {
                Id = 1,
                Titulo = "Interestelar",
                FechaLanzamiento = new DateTime(2010,2,14)
            },
            new Pelicula
            {
                Id = 2,
                Titulo = "Interestelar 2",
                FechaLanzamiento = new DateTime(2020,2,14)
            }};

        futurosEstrenos = new List<Pelicula>
    {
        new Pelicula
        {
            Id = 3,
            Titulo = "Interestelar 3",
            FechaLanzamiento = new DateTime(2010,2,14)
        },
        new Pelicula
        {
            Id = 4,
            Titulo = "Interestelar 4",
            FechaLanzamiento = new DateTime(2020,2,14)
        }};

        StateHasChanged();
    }

    private void manejarClick()
    {
        Console.WriteLine("Desde el click padre");
        mostrarPeliculas = !mostrarPeliculas;
    }

    private void manejarClick(string mensaje) => Console.WriteLine(mensaje);

    private List<Pelicula>? enCartelera = null;
    private List<Pelicula>? futurosEstrenos = null;
}