
@if (Peliculas is null)
{
    <Cargando/>
}
else if (Peliculas.Count == 0)
{
    <text>No existen peliculas para mostrar</text>
}
else
{
    <div>
        @foreach (var pelicula in Peliculas)
        {
            <PeliculaIndividual Pelicula="pelicula"/>
        }
    </div>
}

@code {
    [Parameter, EditorRequired] public List<Pelicula>? Peliculas { get; set; }
}
