
@if (Peliculas is null)
{
    <Cargando/>
}
else if (Peliculas.Count == 0)
{
    <text>No existen peliculas para mostrar</text>
}
else
{
    <div>
        @foreach (var pelicula in Peliculas)
        {
            <PeliculaIndividual @key="pelicula.Id" Pelicula="pelicula" EliminarPelicula="EliminarPelicula"/>
        }
    </div>
}

@code {
    [Parameter, EditorRequired] public List<Pelicula>? Peliculas { get; set; }
    private List<Pelicula> peliculas { get; set; } = null!;

    protected override void OnInitialized()
    {
        peliculas = Peliculas!;
    }

    protected override void OnParametersSet()
    {
        peliculas = Peliculas!;
    }

    private void EliminarPelicula(Pelicula pelicula)
    {
        Peliculas!.Remove(pelicula);
    }
}
